<footer>
  <h6> <%= Time.zone.now %> </h6>
  <h6> Author  <%= Rails.configuration.author_app %> </h6>
  <h6><%= link_to "Сервис TestGuru", github_url(Rails.configuration.author_app,Rails.configuration.repo_app), :target => "_blank" %></h6>
  <h6><%= link_to "Учебный проект в онлайн-школе Thinknetica", "http://thinknetica.com/", :target => "_blank" %></h6>
  <h6>YEAR <%= footer_year_data %></h6>

</footer>
