<div class="container">
  <h3><%= link_to t('create'), new_admin_category_path,
    class: "btn btn-primary bi bi-bag-plus" %></h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%=t('id')%></th>
        <th scope="col"><%=t('.title')%></th>
        <th colspan="2" scope="col"><%= t('actions')%></th>
      </tr>
    </thead>

    <tbody>
      <%= render @categories %>

    </tbody>

  </table>

</div>
