
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=t('first_name')%></th>
      <th scope="col"><%=t('.last_name')%></th>
      <th scope="col"><%=t('.email')%></th>
      <th scope="col"><%=t('.type')%></th>
      <th scope="col"><%=t('.last_sign_in_at')%></th>
      <th scope="col"><%=t('.sign_in_count')%></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name  %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.type %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.sign_in_count %></td>
      <td>
        <%= button_to t('delete'), admin_users_path,
                                    method: :delete, class: "btn btn-danger bi bi-eraser",
                                    form: {
                                      data: { confirm: t('confirm')}
                                    } %>

                                  </td>

    </tr>
    <% end %>
  </tbody>

</table>
