<h1><%= t('.header') %></h1>
<table>
  <thead>
    <tr>
      <th><%=t('.num')%></th>
      <th><%=t('.title')%></th>
      <th><%=t('.level')%></th>
      <th><%=t('.category')%></th>
      <th><%=t('.author')%></th>
      <th><%=t('.questions_count')%></th>
      <th colspan="4"><%= t('actions')%></th>
    </tr>
  </thead>
  <tr>
   <%=t('.create')%>
   <%= link_to t('create'), new_admin_test_path %>
  </tr>

  <tbody>
    <% @test.each do |test|%>
    <tr>

      <td><%=test.id %> </td>
      <td><%=test.title %> </td>
      <td><%=level_title(test)%> </td>
      <td><%=test.category_id%> </td>
      <td><%=test.author_id %> </td>
      <td><%=test.questions.count %></td>
      <ul>
        <td><li><%= link_to t('show'), admin_test_path(test.id) %></li></td>
        <td><li><%= link_to t('edit'), edit_admin_test_path(test.id) %></li></td>

      <td><li><%= button_to t('delete'), admin_test_path(test.id),
                                    method: :delete,
                                    form: {
                                      data: { confirm: t('confirm')}
                                    } %></li></td>

      </ul>
    </tr>
    <% end %>
  </tbody>

</table>
