<h2><%= t('.header', title: @test.title)%> </h2>
<table class="table">
  <thead>
    <th scope="col"> <%= t('.test_id')%> </th>
    <th scope="col"><%= t('.title')%> </th>
    <th scope="col"><%= t('.level_id')%> </th>
    <th scope="col"><%= t('.level')%> </th>
    <th scope="col"><%= t('.category')%> </th>

  </thead>
  <tbody>
    <td><%= @test.id %> </td>
    <td><%= @test.title %> </td>
    <td><%= @test.level%> </td>
    <td><%= level_title(@test) %> </td>
    <td><%= @test.category.title %> </td>


  </tbody>
</table>

<p>
  <h3><%= t('.questions_header')%>
    <%= link_to t('create'), new_admin_test_question_path(@test), class: "btn btn-primary" %></h3>
  <table class = "table">
    <thead>
      <th scope="col"><%= t('.question_id')%></th>
      <th scope="col"><%= t('.question_body')%></th>
    </thead>
    <tbody>

      <% @test.questions.each do |q|%>
      <tr>
        <td><%= q.id %></td>
        <td><%= q.body %></td>
        <td><%= link_to t('show'), admin_question_path(q.id) %></td>
        <td><%= link_to t('edit'), edit_admin_question_path(q.id) %></td>
        <td><%= button_to t('delete'), admin_question_path(q.id),
                                    method: :delete,class: "btn btn-danger bi bi-eraser",
                                    form: {
                                       data: { confirm: t('confrim') }
                                     }
                                     %></td>

      </tr>

      <% end %>
    </tbody>
  </table>
</p>

<p><%= link_to t('nav.back.tests'), admin_tests_path %></p>
