<h2>Test details </h2>
<table>
  <thead>
    <th>Test ID</th>
    <th>Title</th>
    <th>level-id</th>
    <th>level_title</th>
    <th>category name </th>

  </thead>
  <tbody>
    <td><%= @test.id %> </td>
    <td><%= @test.title %> </td>
    <td><%= @test.level%> </td>
    <td><%= level_title(@test) %> </td>
    <td><%= @test.category.title %> </td>


  </tbody>
</table>
<p>
  <tr>
   Create new Question
   <%= link_to "Create", new_test_question_path(@test) %>
  </tr>

</p>
<p>
  <h3>Test questions</h3>
  <table>
    <thead>
      <th>ID</th>
      <th>body</th>
    </thead>
    <tbody>

      <% @test.questions.each do |q|%>
      <tr>
        <td><%= q.id %></td>
        <td><%= q.body %></td>
        <td><%= link_to "Show", admin_question_path(q.id) %></td>
        <td><%= link_to "Edit", edit_admin_question_path(q.id) %></td>
        <td><%= button_to "Delete", admin_question_path(q.id),
                                    method: :delete,
                                    form: {
                                       data: { confirm: t('confrim') }
                                     }
                                     %></td>

      </tr>

      <% end %>
    </tbody>
  </table>
</p>

<p><%= link_to "Back", admin_tests_path %></p>
