<h2><%= t('.header', title: @test.title)%> </h2>
<table>
  <thead>
    <th> <%= t('.test_id')%> </th>
    <th><%= t('.title')%> </th>
    <th><%= t('.level_id')%> </th>
    <th><%= t('.level')%> </th>
    <th><%= t('.category')%> </th>

  </thead>
  <tbody>
    <td><%= @test.id %> </td>
    <td><%= @test.title %> </td>
    <td><%= @test.level%> </td>
    <td><%= level_title(@test) %> </td>
    <td><%= @test.category.title %> </td>


  </tbody>
</table>
<p>
  <tr>
   <%= t('.create')%>
   <%= link_to t('create'), new_admin_test_question_path(@test) %>
  </tr>

</p>
<p>
  <h3><%= t('.questions_header')%></h3>
  <table>
    <thead>
      <th><%= t('.question_id')%></th>
      <th><%= t('.question_body')%></th>
    </thead>
    <tbody>

      <% @test.questions.each do |q|%>
      <tr>
        <td><%= q.id %></td>
        <td><%= q.body %></td>
        <td><%= link_to t('show'), admin_question_path(q.id) %></td>
        <td><%= link_to t('edit'), edit_admin_question_path(q.id) %></td>
        <td><%= button_to t('delete'), admin_question_path(q.id),
                                    method: :delete,
                                    form: {
                                       data: { confirm: t('confrim') }
                                     }
                                     %></td>

      </tr>

      <% end %>
    </tbody>
  </table>
</p>

<p><%= link_to t('nav.back.tests'), admin_tests_path %></p>
