<h1><%= t('.header')%></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=t('.num')%></th>
      <th scope="col"><%=t('.title')%></th>
      <th scope="col"><%=t('.level')%></th>
      <th scope="col"><%=t('.category')%></th>
      <th scope="col"><%=t('.author')%></th>
      <th scope="col"><%=t('.questions_count')%></th>
    </tr>
  </thead>

  <tbody>
    <% @test.each do |test|%>
    <tr>

      <td><%=test.id %> </td>
      <td><%=test.title %> </td>
      <td><%=level_title(test)%> </td>
      <td><%=test.category_id%> </td>
      <td><%=test.author_id %> </td>
      <td><%=test.questions.count %></td>

      <td> <%=button_to t('start'), start_test_path(test.id), method: :post, class: "btn btn-primary" %></td>

    </tr>
    <% end %>
  </tbody>

</table>
