


<div class="container">
<h3><%= t('.header')%></h3>
  <nav class="navbar navbar-light justify-content-left mt-4">
      <form class="form-inline">
          <input id="search" class="form-control form-control-lg mr-sm-2"
          placeholder="<%= t('search')%>" >

          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
  </nav>


  <table class="table">
    <thead>
      <tr>
        <th class = "sort-by-title pointer" scope="col">
          <%=t('.title')%>
          <i class="bi bi-arrow-bar-up " ></i>
          <i class="bi bi-arrow-bar-down hide" ></i>
        </th>

        <th scope="col"><%=t('.level')%></th>
        <th scope="col"><%=t('.category')%></th>
        <th scope="col"><%=t('.author')%></th>
        <th scope="col"><%=t('.questions_count')%></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tests %>

    </tbody>

  </table>
</div>
