<footer>
  <h6> <%= Time.zone.now %> </h6>
  <h6> <%= t('author')%> <%=  Rails.configuration.author_app %> </h6>
  <h6><%= github_url %></h6>
  <h6><%= link_to t('school'), "http://thinknetica.com/", :target => "_blank" %></h6>
  <h6> <%=t('year')%> <%= footer_year_data %></h6>

</footer>
