<nav class="navbar navbar-light bg-light">
  <div class=".container-fluid">
    <div class="navbar-header">
      <%= link_to t('TestGuru'), tests_path, class: 'navbar-brand bi bi-boxes' %>
    </div>
    <ul class="nav navbar-nav" >
      <% if user_signed_in? %>
      <li><%= link_to t('nav.menu.all_tests'), admin_tests_path, class: "nav-item nav-link active" %></li>
      <li><%= link_to t('nav.menu.profile'), edit_user_registration_path,class: "nav-item nav-link" %></li>
      <li><%= link_to t('nav.menu.back'), :back, class: "nav-item nav-link" %></li>
    </ul>
  </div>
  <div class=.container-fluid>

    <%= t('admin.welcome', title: current_user.first_name)%> <b> <%= current_user.email %> </b>
    <%= link_to "Eng", change_locale_path(:en) %> |
    <%= link_to "Rus", change_locale_path(:ru)%>
    <%= button_to t('nav.menu.quit'), destroy_user_session_path, method: :delete, class: "btn btn-primary bi bi-box-arrow-right" %>

  </div>






    <% else %>
     <%= link_to t('login'), new_session_path(resource_name) %> |
     <%= link_to t('signup'), new_registration_path(resource_name) %>


    <% end %>

    </nav>
