<nav class="navbar navbar-light bg-light">
  <div class=".container-fluid">
    <div class="navbar-brand menu-hover">
      <%= link_to t('TestGuru'), tests_path, class: 'navbar-brand bi bi-boxes' %>
    </div>
    </div>
    <div class="nav-link hover" >
      <% if user_signed_in? %>
      <%= link_to t('nav.menu.all_tests'), admin_tests_path %>
    </div>
    <div class="nav-link hover">
      <%= link_to t('nav.menu.profile'), edit_user_registration_path %>
    </div>
    <div class="nav-link  hover">
      <%= link_to t('nav.menu.all_gists'), admin_gists_path %>
    </div>
    <div class="nav-link hover">
      <%= link_to t('nav.menu.all_users'), admin_users_path %>
    </div>
    <div class="nav-link hover">
      <%= link_to t('nav.menu.back'), :back %>
    </div>

  <div class="menu">

    <%= t('admin.welcome', title: current_user.first_name)%> <b> <%= current_user.email %> </b>
  </div>

  <div class="col-md-auto">
      <%= link_to "Eng", change_locale_path(:en) %> |
      <%= link_to "Rus", change_locale_path(:ru)%>
  </div>
  <div class="nav-link hover">

    <%= link_to t('nav.menu.quit'),
                  destroy_user_session_path,
                  data: { turbo_method: "delete"}%>

  </div>


    <% else %>
     <%= link_to t('login'), new_session_path(resource_name) %> |
     <%= link_to t('signup'), new_registration_path(resource_name) %>


    <% end %>

    </nav>
