<!DOCTYPE html>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
<html>

  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= t('TestGuru')%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/nav' %>
    <main class ="container mt-3">
              <%= flash_message!%>

    </main>

    <%= yield %>
  </body>

  <div class="col-md-6 mx-auto mt-auto">
    <p></p>
    <%= render 'shared/footer' %>
  </div>


</html>
