<!DOCTYPE html>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
<html>
  <head>
    <title>TestGuru</title>
    <%= flash_message!%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user"> Welcome, <b> <%= current_user.email %> </b> Guru
        <%= button_to "Quit", logout_path, method: :delete, class: 'button'%>
      </p>

    <% end %>
    <%= yield %>
  </body>
  <%= render 'shared/footer' %>
</html>
