
<h2 class='text-center'><%= t('devise.signup')%></h2>

<div class="container pass-check">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="col-md-4 mx-auto">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="col-md-4 mx-auto">
         <%= f.label :fist_name %><br />
         <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="col-md-4 mx-auto">
         <%= f.label :last_name %><br />
         <%= f.text_field :last_name, autofocus: true %>
    </div>


    <div class="col-md-4 mx-auto needs-validation ">


      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>

       </div>

    <div class="col-md-4 mx-auto ">
      <i class ="bi bi-check hide"></i>
      <i class ="bi bi-dash-circle-fill hide"></i>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    </div>


    <div class="actions col-md-4 mx-auto">
      <%= f.submit "Sign up" %>
    </div>

  <% end %>
  <div class="col-md-4 mx-auto">
    <p></p>
    <%= render "users/shared/links" %>
  </div>

</div>
